@import 'buttons', 'dialog';

.pre-wrap {
  white-space: pre-wrap;
}
.nowrap {
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.default-active {
  background-color: $grey-4;
}
/* PPM Theme */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: block;
  src: url('@/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: $font-weight-md;
}

html,
body {
  font-family: 'Poppins';
}

#app {
  font-family: 'Poppins';
}

h1 {
  color: #455a64;
  font-size: 24px;
  font-weight: 600;
}

h1,
h2,
h3 {
  font-family: 'Poppins';
}
h2 {
  color: $grey-1;
  font-size: $font-main-page-title;
  font-weight: 800;
}

th {
  color: $grey-2!important;
  font-weight: 400;
  font-size: $font-table-header!important;
}
td {
  font-size: $font-table-row;
  color:$grey-1!important;
}
.main-page-title {
  font-size: $font-main-page-title;
  color:$grey-1;
  font-weight: 800;
}
.section-title {
  font-size: $font-section-title;
  font-weight: 600;
  color:$grey-1;
  letter-spacing: 0.6px;
}
.section-subtitle {
  font-size: $font-section-subtitle !important;
  font-weight: 600!important;
  color:$grey-1;
}

.section-desc {
  font-size: $font-section-desc !important;
  font-weight: 400;
  color:$grey-2;
}

.subtitle {
  color: $primary-color;
  font-size: 14px;
  font-weight: 400;
}

.score-status-chip {
  min-width: 50px;
  max-width: 50px;
  border-radius: 5px;
  max-height: 28px;
  min-height: 28px;
  box-shadow: none;
  text-align: center;
  line-height: 20px;
  padding: 5px;
}

.breadcrumb-label {
  font-size: $font-breadcrumb!important;
  font-weight: 400;
  color:$primary-color;
  .prev-links {
    font-size: $font-breadcrumb!important;
    color:$primary-color;
  }
}

.v-tab--selected {
  color:$primary-color!important;
}
.v-tab {
  font-weight: 600;
  color:$grey-1;
  text-transform: none !important;
}

.v-select,.v-autocomplete {
  .v-field__input{
    height: $input-height!important;
    min-height: $input-height!important;
    min-width: 120px;
  }
  span {
    overflow: auto;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin-top: 3px;
  }
  .v-select__selection,.v-autocomplete__selection {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-default;
    color:$grey-1;
  }
}

.v-autocomplete input {
  top:0!important;
}

.v-menu {
  .v-overlay__content {
    box-shadow: 0 4px 4px 0 #00000026!important;
    border-bottom-left-radius: 7px!important;
    border-bottom-right-radius: 7px!important;
    .v-list {
      .v-list-item {
        color:$grey-1!important;
        font-family: "Poppins"!important;
        &:hover {
          background-color: $grey-4;
        }
        &.v-list-item--active {
          background-color: $grey-4!important;
        }
        .v-list-item-title {
          font-size: $font-default!important;
        }
        .v-list-item-subtitle {
          font-size: $font-xs!important;
        }
      }
    }
  }
}

.v-field--variant-outlined {
  input, textarea{
    font-size: $font-default;
    color:$grey-1;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
  }
  input {
    height: $input-height!important;
    min-height: $input-height!important;
  }
  label {
    top: 12px!important;
    color:$grey-2;
    font-size: $font-default;
  }
  .v-field__clearable  {
    padding-top: 12px!important;

  }
  .v-field__append-inner {
    padding-top: 10px;
  }
  .v-select__selection,.v-autocomplete__selection {
    .v-select__selection-text {
      font-size: $font-default;
      color:$grey-1;
    }

    i {
      color:$grey-1;
      width: 20px!important;
      height: 20px!important;
    }
  }
  .v-field__prepend-inner .v-icon {
    font-size: 20px;
    top:6px;
  }
  .v-field__outline__end {
    border-left: none;
    border-top:1px solid $grey-2!important;
    border-bottom: 1px solid $grey-2!important;
    border-right: 1px solid $grey-2!important;
    border-top-right-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
  }
  .v-field__outline__start {
    border-left:1px solid $grey-2!important;
    border-bottom: 1px solid $grey-2!important;
    border-top: 1px solid $grey-2!important;
    border-top-left-radius: 8px!important;
    border-bottom-left-radius: 8px!important;
  }
  .v-field__outline__notch {
    &:before,&:after {
      border-color: $grey-2!important;
    }
  }
  .v-field__outline__start {
    border-left:1px solid $grey-2!important;
    border-bottom: 1px solid $grey-2!important;
    border-top: 1px solid $grey-2!important;
  }

}
.v-field--focused .v-field__outline__notch {
  &:before,&:after {
    border-bottom-width:1px!important;
  }
  input {
    margin-bottom: 20px;
  }
}

.drag-icon {
  font-size: 25px;
  color: $grey-2
}