@import '../global/variables';

.v-card-actions .v-btn ~ .v-btn {
  margin-inline-start: 1em;
}

.primary-action-btn {
  text-transform: none !important;
  font-size: $font-default;
  letter-spacing: 0.8px;
  font-weight: 600;
  color: white;
  background-color: $primary-color;
  box-shadow: none;
  padding-left: 8px;
  padding-right: 8px;
}

.primary-action-btn:hover {
  background-color: $secondary-color!important;
  box-shadow: none;
}

.secondary-action-btn {
  text-transform: none !important;
  font-size: $font-default;
  letter-spacing: 0.8px;
  font-weight: 600;
  color: $primary-color;
  background-color: transparent;
  border: thin solid currentColor;
  box-shadow: none;
  padding-left: 8px;
  padding-right: 8px;
  max-height: 36px;
}

.secondary-action-btn:hover {
  color: $white;
  background-color: $secondary-color !important;
  box-shadow: none;
}

.primary-negative-btn {
  text-transform: none !important;
  font-size: $font-default;
  letter-spacing: 0.8px;
  font-weight: 600;
  color: $warning;
  background-color: $warning-secondary !important;
  box-shadow: none;
  padding-left: 8px;
  padding-right: 8px;
}

.primary-negative-btn:hover {
  color: $white;
  background-color: $warning !important;
  box-shadow: none;
}
