
  //COLORS
  $primary-color: #2045BC;
  $secondary-color: #4D6AC9;
  $warning:#FF6339;
  $warning-secondary: #FFE6EA ;
  $grey-1:  #455A64 ;
  $grey-2:  #99ABB4 ;
  $grey-3:  #E6E6E6 ;
  $grey-4 : #F6F6F6 ;
  $grey-5:  #EFF5F9 ;
  $green-1: #42B4B4 ;
  $orange-1: #F2AF5C ;
  $white: white ;

  //Font sizes
  $font-default: 14px;
  $font-xl: 30px;
  $font-lg: 24px;
  $font-md: 21px;
  $font-sm: 16px;
  $font-xs: 13px;
  $font-weight-md: 2;
  $font-main-page-title: $font-lg;
  $font-popup-section-title: $font-md;
  $font-section-title: $font-md;
  $font-dialog-title: $font-md;
  $font-section-subtitle: $font-sm;
  $font-section-desc: $font-default;
  $font-dialog-desc: $font-default;
  $font-breadcrumb: $font-default;
  $font-table-row: $font-default;
  $font-table-header: $font-default;
  $font-side-menu: $font-xs;


  //
  $default-radius: 5px;
  $input-height: 44px;
  $row-height: 64px;
  $dialog-shadow: 0px 0px 50px 0px #2196F340;
  $card-shadow: 0px 0px 8px 0px #2196F31A;

